doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="assets/dist/css/style.css")

		block page_title
			title TestProject

		<!--[if lt IE 9]>
		script(type='text/javascript', href="/assets/dist/js/concat.js")
		<![endif]-->

	body

		block content
		div#loader

		script(type='text/javascript', href="/assets/dist/js/common.js")
		script(type='text/javascript', href="/assets/dist/js/concat.js")